<form action="" method="get">
    <div class="row">
        <div class="col-md-auto">
            <div id="div_date" class="form-group">
                <label for="date" class="">
                    Filter by Period of Time
                </label>
                <div>
                    <select name="date" class="form-control" id="date">
                        <option value="all" selected="">All</option>
                        <option value="week">One Week</option>
                        <option value="midmonth">Two Weeks</option>
                        <option value="month">One Month</option>
                        <option value="year">One Year</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <label for="status">&nbsp;</label>
                <div>
                    <button type="submit" class="btn btn-accent">Apply Filter</button>
                </div>
            </div>
        </div>
    </div>
</form>