{% extends "layouts/base.html" %}

{% block title %} Thought {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Overview</span>
            <h3 class="page-title">Thought entries</h3>
        </div>
    </div>
    <!-- End Page Header -->

    <form action="" method="get">
        <div class="row">
            <div class="col-2">
                <div id="div_date" class="form-group">
                    <label for="date" class="">
                        Filter by Period of Time
                    </label>
                    <div>
                        <select name="date" class="form-control" id="date">
                            <option value="all" selected="">All</option>
                            <option value="week">One Week</option>
                            <option value="midmonth">Two Weeks</option>
                            <option value="month">One Month</option>
                            <option value="year">One Year</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="status">&nbsp;</label>
                    <div>
                        <button type="submit" class="btn btn-accent">Apply Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Default Light Table -->
    <div class="row">
        <div class="col">
            <div class="card card-small mb-4">
                <div class="border-bottom">
                    <div class="row">
                        <div class="col d-flex flex-row m-2">
                            <a href="{% url 'thought_add' %}"><button type="button" class="btn btn-primary">Add Entry</button></a>
                            <form method="get" class="ml-2">
                                <input name="q" class="form-control" type="text" placeholder="Search...">
                            </form>
                        </div>
                        <div class="col">
                            {% include 'includes/dropdown_pagination.html' %}
                        </div>
                    </div>
                </div>

                <div class="card-body p-0 pb-3 text-center">
                    <div class="table-responsive scrollbar">
                        <table class="table table-sm mb-0 table-hover">
                            <thead class="bg-light">
                                <tr>
                                    <th scope="col" class="border-0">Created At</th>
                                    <th scope="col" class="border-0">Associated Journal</th>
                                    <th scope="col" class="border-0" colspan="3">Thought</th>
                                    <th scope="col" class="border-0" colspan="2">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Item -->
                                {% if page_obj is not True %}
                                {% for thought in page_obj %}
                                <tr>
                                    {% if thought.created_at %}
                                    <td><span class="font-weight-normal">{{ thought.created_at|date:"d/m/Y H:i:s" }}</span></td>
                                    {% else %}
                                    <td><span class="font-weight-normal"></span></td>
                                    {% endif %}

                                    {% if thought.journal %}
                                    <td><span class="font-weight-normal">{{ thought.journal.situation_emotion|truncatechars:50 }}</span></td>
                                    {% else %}
                                    <td><span class="font-weight-normal"></span></td>
                                    {% endif %}

                                    {% if thought.thought %}
                                    <td><span class="font-weight-normal" colspan="3">{{ thought.thought }}</span></td>
                                    {% else %}
                                    <td><span class="font-weight-normal" colspan="3"></span></td>
                                    {% endif %}

                                    <td>
                                        <a href="{% url 'thought_edit' thought.id %}"><button type="button" class="mb-2 btn btn-sm btn-primary mr-2">Edit</button></a>
                                    </td>
                                    <td>
                                        <a href="{% url 'thought_del' thought.id %}"><button type="button" class="mb-2 btn btn-sm btn-danger mr-2">Delete</button></a>
                                    </td>
                                </tr>
                                {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->

    {% include 'includes/pagination.html' %}

</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
