{% extends "layouts/base.html" %}
{% block title %} Statistics {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">{% if origin_date %}From {{ origin_date|date:"d/m/Y" }}{% endif %} Until {{ actual_date|date:"d/m/Y" }}</span>
        </div>
    </div>
    <!-- End Page Header -->

    <form action="" method="get">
        <div class="row">
            <div class="col-2">
                <div id="div_date" class="form-group">
                    <label for="date" class="">
                        Filter by Period of Time
                    </label>
                    <div>
                        <select name="date" class="form-control" id="date">
                            <option value="all" selected="">All</option>
                            <option value="week">One Week</option>
                            <option value="midmonth">Two Weeks</option>
                            <option value="month">One Month</option>
                            <option value="year">One Year</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-2">
                <div class="form-group">
                    <label for="status">&nbsp;</label>
                    <div>
                        <button type="submit" class="btn btn-accent">Apply Filter</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    
    <div class="row">
        <!-- Users Stats -->
        <div class="col mb-4">
            <div class="card card-small">
                <div class="card-header border-bottom">
                    <h6 class="m-0">Graphics</h6>
                </div>
                <div class="card-body pt-0">
                    <div class="container-fluid">
                        {% if journal_dates %}
                        <div class="row">
                            <div id="journal_entries" style="width:100% !important;height:300;"></div>
                        </div>
                        {% endif %}
                        
                        {% if records_per_day %}
                        <div class="row">
                            <div id="records_per_day" style="width:100% !important;height:300;"></div>
                        </div>
                        {% endif %}
                        
                        {% if records_per_hour %}
                        <div class="row">
                            <div id="records_per_hour" style="width:100% !important;height:300;"></div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- End Users Stats -->
    </div>

</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% if records_per_day or records_per_hour %}
<script>
    var config = {responsive: true}

    {% if journal_dates %}
    const journal_dates_untreated = {{ journal_dates | safe }};
    var journal_dates = [];
    journal_dates_untreated.forEach((d) => {
        journal_dates.push(new Date(d));
    });

    var layout = {
        title: 'Number of times over time',
        xaxis: {
            autorange: true,
            range: [journal_dates.at(0), journal_dates.at(-1)],
            rangeslider: {range: [journal_dates.at(0), journal_dates.at(-1)]},
            rangeselector: {buttons: [
                {
                    count: 7,
                    name: '7d',
                    step: 'day',
                    stepmode: 'backward'
                },
                {
                    count: 14,
                    name: '14d',
                    step: 'day',
                    stepmode: 'backward'
                },
                {step: 'all'}
                ]},
            type: 'date'
        },
        yaxis: {
            autorange: true,
            rangemode: "tozero",
            tickmode: "linear",
            type: 'linear',
        }
    };
    
    const journal_values = {{ journal_values | safe }};

    const no_of_times_dataset = {
        name: 'Number of Times',
        y: journal_values,
        x: journal_dates,
        type: "scatter",
        mode: "lines",
        line: {color: '#007bff'}
    };
    const JournalEntries_Dataset = [no_of_times_dataset, ];
    Plotly.newPlot('journal_entries', JournalEntries_Dataset, layout, config);
    {% endif %}

    {% if records_per_day %}
    const records_day = {{ records_per_day | safe }};
    var records_day_x = [];
    var records_day_y = [];
    records_day.forEach((d) => {
        records_day_x.push(d.weekday);
        records_day_y.push(d.count);
    });

    var records_per_day = {
        x: records_day_x,
        y: records_day_y,
        mode: 'lines+markers',
        marker: {
          color: '#007bff',
          size: 8
        },
      
        line: {
          color: '#007bff',
          width: 3
        }
      };
      
      var records_per_day_data = [records_per_day];
      
      var layout = {
        title: 'Nº of times by day (week)',
        xaxis: {
            title: 'Day (1 = Sunday)',
            showgrid: false,
            zeroline: false,
            tickformat: ',d'
          },
          yaxis: {
            title: 'Nº of records',
            showline: false,
            autorange: true,
            rangemode: "tozero",
            tickmode: "linear",
            type: 'linear',
        }
      };
      
    Plotly.newPlot('records_per_day', records_per_day_data, layout, config);
    {% endif %}

    {% if records_per_hour %}
    const records_hour = {{ records_per_hour | safe }};
    var records_hour_x = [];
    var records_hour_y = [];
    records_hour.forEach((d) => {
        records_hour_x.push(d.hour);
        records_hour_y.push(d.count);
    });


    var records_per_hour = {
        x: records_hour_x,
        y: records_hour_y,
        mode: 'lines+markers',
        marker: {
          color: '#007bff',
          size: 8
        },

        line: {
          color: '#007bff',
          width: 3,
        }
      };
      
      var records_per_hour_data = [records_per_hour];
      
      var layout = {
        title: 'Nº of times by hour',
        xaxis: {
            title: 'Hour',
            showgrid: false,
            zeroline: false,
            tickformat: ',d'
          },
          yaxis: {
            title: 'Nº of records',
            showline: false,
            autorange: true,
            rangemode: "tozero",
            tickmode: "linear",
            type: 'linear',
        }
      };
      
    Plotly.newPlot('records_per_hour', records_per_hour_data, layout, config);
    {% endif %}
</script>
{% endif %}
{% endblock javascripts %}
