<html>
  <head>
    <meta charset="utf-8">
    {% load static %}
    <link href="{% static 'css/report-pdf.css' %}" rel="stylesheet">
    <title>Journal</title>
    <meta name="description" content="Invoice demo sample">
  </head>

  <body>
    <h1>Journal Entries</h1>

    <dl id="informations">
      {% comment %} <dt>Invoice number</dt>
      <dd>12345</dd> {% endcomment %}
      <dt>Date</dt>
      <dd>{% now "d/m/Y H:i:s" %}</dd>
    </dl>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Ocurred At</th>
          <th>Number of Times</th>
          <th>Situation/Emotion</th>
          <th>Afterwards Feeling</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in model %}
        <tr>
          {% if entry.0 %}
          <td>{{ entry.0 }}</td>
          {% else %}
          <td></td>
          {% endif %}
          
          {% if entry.1 %}
          <td>{{ entry.1|date:"d/m/Y H:i:s" }}</td>
          {% else %}
          <td></td>
          {% endif %}

          {% if entry.2 %}
          <td>{{ entry.2 }}</td>
          {% else %}
          <td></td>
          {% endif %}

          {% if entry.3 %}
          <td>{{ entry.3 }}</td>
          {% else %}
          <td></td>
          {% endif %}

          {% if entry.4 %}
          <td>{{ entry.4 }}</td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
